/*Support Tab*/
.support{
    margin-top: 40px;
    border:4px solid #0087dc;
    width:600px;
    height:50px;
    margin-left: auto;
    margin-right: auto;
    padding:10px 0px;
    border-radius: 20px; 
}
.support p{
    font-family: 'Montserrat', sans-serif;
    color:#0087dc;
    font-size: 40px;
    display: inline;

}
.support img{
    margin:auto;
    display: inline;
    height:38px;
    width:auto;
}
.support div{
    text-align: center;
    margin:auto;  
}
/*Support Choices*/
/*Location*/
.location:hover .hbutton{
  transform:translateY(300px);
  opacity: 0;
  
  
}
.location:hover  p{
  opacity:1;
  transition: opacity 1.5s;
  
}
.hbutton{
  width:200px;
  padding:80px 0px;
  background-color: #0087dc;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  visibility: visible;
  transition:transform 0.5s,opacity 1s;
  left:0px;
  right:0px;
  margin-top:70px;
  opacity:1;
  color:white;
  font-size: 25px;
  font-family: Black Friday;
}
.supportChoice{
  margin-top: 150px;;
  width:60%;
  margin-left: auto;
  margin-right: auto;
  opacity:0;
  transition:margin-top 0.5s linear,opacity 1.5s;
  margin-bottom: 50px;
}
.column2{
  margin-top: 50px;;
  display:flex;
  justify-content:space-around ;
}
.location{
  width:330px;
  height:330px;
  border: 4px solid #1487d0;
  border-radius: 20px;
  position: relative;
  overflow:hidden;
  
}
.location a{
  text-decoration: none;
}
.location img{
  position:absolute;
    height:130px;
    width:auto;
    text-align: center;
    position: relative;
    bottom:20px;
    /*filter: hue-rotate(260deg)*/
}
.location p{
    font-family: 'Montserrat', sans-serif;;
    text-align: center;
    font-size: 25px;
    opacity: 0;
    transition:opacity 1s ;
}
.location p:nth-child(2){
  margin-top: 40px;;
}
.location p:nth-child(3){
    position: relative;
    bottom:45px;
    color:#00b3dc;
}
.location p:nth-child(4){
  position: relative;
  bottom:45px;
  color:white;
}
#choice1{
  margin-left:auto;
  margin-right:auto; 
}
.location:hover{
  cursor:pointer;
  
}

