@charset "utf-8";

table, tr, td{
    text-align: center;
    border-collapse: collapse;
    border: 2px solid black;
}
td {
    width: 33%;
}
div.product {
    margin-top: 100px;
}

.product a {
    text-decoration: none;
    color: black;
}

.product button {
    border: none;
    outline: none;
    cursor: pointer;
    width: 100px;
    height: 30px;
    background-color: orange;
    color: white;
    border-radius: 28px;
}

.product button:hover {
    opacity: 0.8;
}